# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
release-artifacts
src-tauri/binaries/*x86_64-apple-darwin
src-tauri/binaries/*x86_64-pc-windows-msvc.exe
src-tauri/resources/ffmpeg-libs-x86_64-apple-darwin/*
!src-tauri/resources/ffmpeg-libs-x86_64-apple-darwin/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
